AddDefaultCharset UTF-8
AddType text/cache-manifest .appcache
AddOutputFilterByType DEFLATE application/javascript application/x-javascript text/css text/html text/plain text/xml

ExpiresActive On
ExpiresDefault "access plus 0 seconds"
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    RewriteRule ^directory/query(.*)$ /directory/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^directory/detail/([^?].*)$ /directory/detail/?$1 [L,R]

    RewriteRule ^shuttle/route_trip(.*)$ /shuttle/#/planner [NE,L,R]
    RewriteRule ^shuttle/list/color /shuttle/#/list [NE,L,R]
    RewriteRule ^shuttle/list /shuttle/#/list [NE,L,R]
    RewriteRule ^shuttle/schedule/[0-9]+$ /shuttle/#/list/ [NE,L,R]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^shuttle/planner /shuttle/#/planner [NE,L,R]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^shuttle    /shuttle

    RewriteRule ^maps/locations.php$ /maps/locations/ [L,R]
    RewriteRule ^maps/campus.php$ /maps/ [L,R]
</IfModule>
