AddDefaultCharset UTF-8
AddOutputFilterByType DEFLATE application/javascript application/x-javascript text/css text/html text/plain text/xml

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType image/png "access plus 1 week"
    ExpiresByType application/x-javascript "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteRule ^directory/query(.*)$ /directory/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^directory/detail/([^?].*)$ /directory/detail/?$1 [L,R]

    RewriteRule ^shuttle/route_trip(.*)$ /shuttle/#/planner [NE,L,R]
    RewriteRule ^shuttle/list/color /shuttle/#/list [NE,L,R]
    RewriteRule ^shuttle/list /shuttle/#/list [NE,L,R]
    RewriteRule ^shuttle/schedule/[0-9]+$ /shuttle/#/list/ [NE,L,R]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /#$1 [NE,L,R]

    RewriteRule ^maps/locations.php$ /maps/locations/ [L,R]
    RewriteRule ^maps/campus.php$ /maps/ [L,R]
</IfModule>
