html,
body {
    border: 0;
    					/* Might these next two lines be better placed in _background.scss? */
    height: 100%; 		/* needed for Firefox */
    min-height:100%; 	/* needed for Android, see https://github.com/Trott/CampusKit/pull/6 */
}

html,
body,
div,
form,
ol,
p,
ul {
    display: block;
    padding: 0;
    margin: 0;
}

html.no-touch,
html.no-touch body,
html.touch.overflowscrolling,
html.touch.overflowscrolling body{
    overflow:auto;
}

html.touch.overflowscrolling {
    -webkit-overflow-scrolling:touch;
}
