html,
body {
    border: 0;
    height: 100%;
    min-height:100%;
}

html,
body,
div,
form,
ol,
p,
ul {
    display: block;
    padding: 0;
    margin: 0;
}

html.no-touch,
html.no-touch body,
html.touch.overflowscrolling,
html.touch.overflowscrolling body{
    overflow:auto;
}

html.touch.overflowscrolling {
    -webkit-overflow-scrolling:touch;
}
