@import "compass/css3";

@import "config";
@import "reset";
@import "typography";

@import "header";
@import "footer";

@import "spinner";

@import "form";
@import "content";
@import "menu";
@import "button";

/* TODO: oof, get rid of this */
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* ucsf stuff
 *
 *
 *
 */

ul {
    margin:.5em 0 1em 0;
}

ul li {
	font-weight: normal;
	list-style-type: none;
}

ul.bulleted li {
	list-style-type: disc;
        margin-left: 2em;
}

ul.bulleted li a {
	padding: 0;
	display: inline;
}

a[rel~=external]:after, .detailed li a span.external:after {
	content: "\a0 " url(/assets/img/external-link.png);
}

/* Allow suppression of external link indicator via class "no-ext-ind".
   This is useful for .detailed where a span.external inside an
   a[rel=external] can show where the indicator should end up.  This keeps the
   indicator from floating off to the right away from the relevant text. This is
   desirable, rather than just not using rel=external, because rel=external
   will determine how the link is handled in the native client and possibly in
   screen readers.
*/
a[rel=external].no-ext-ind:after {
    content: "";
}

a {
	color:#38939b;
}

#main_menu li {
    background:inherit;
}

/* The rel=external stuff is not solely for menus, but primarily.
   Use span.external:after around a link with class no-ext-ind to keep indicator
      from being styled like the link.  This is useful if links are underlined,
      for example, and also in .menu.detailed (see comment for no-ext-ind).
*/
a[rel~=external]:after, span.external:after {
    content: "\a0 " url(/assets/img/external-link.png);
}

/* Allow suppression of external link indicator via class "no-ext-ind".
   This is useful for .menu.detailed where a span.external inside an
   a[rel=external] can show where the indicator should end up.  This keeps the
   indicator from floating off to the right away from the relevant text. This is
   desirable, rather than just not using rel=external, because rel=external
   will determine how the link is handled in the native client and possibly in
   screen readers.
*/
a[rel=external].no-ext-ind:after {
    content: "";
}

/********************************************************
 * MENUS/LISTS
 *******************************************************/


@media all and (max-device-width: 320px) {
    .dashboard_icon {
        width: 57px;
        height: 57px;
    }
}

body,html {
    height:100%;
}

html.no-touch,
html.no-touch body,
html.touch.overflowscrolling,
html.touch.overflowscrolling body{
    overflow:auto;
}

html.touch.overflowscrolling {
    -webkit-overflow-scrolling:touch;
}

body {
    font:100%/1.25 Arial,Helvetica,sans-serif;
    font-size:.93em;
    font-family:Helvetica,Verdana,Arial,sans-serif;
    line-height:normal;
}

html {
    width:100%;
    position:relative;
    background: rgba(98,172,180,1); /*Old browsers*/
    @include background(
        url(/assets/img/watermark.png), 
        url(/assets/img/background-decor.png),
        radial-gradient(center, ellipse cover, rgba(141,201,207,1) 0%, rgba(98,172,180,1) 100%));
    background-repeat:no-repeat, no-repeat, no-repeat;
    background-position:left top, right bottom, left top;
    background-size:auto 100%, 100% 70%, 100% 100%;
}

#main_menu {
    margin:0
}