@import "topcoat";

.topcoat-icon-button {
	margin: 1em;
}

.icon--feedback {
  background: url("../img/icons/feedback.svg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}