@import "topcoat";

.padded {
	margin: 1rem;
}

.icon--feedback {
  background: url("../img/icons/feedback.svg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.icon--large--info {
	background: url("../img/icons/circle_outline.svg") no-repeat;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	background-size: cover;

  	line-height: 2.5rem;
  	text-align: center;
  	font-family: serif;
  	font-style: italic;
  	font-weight: 400;
  	font-size: 2rem;
}
.icon--large--info:after {
	content: 'i';
}

.float-left {
	float: left;
	margin-right: 1rem;
}

h2 {
    text-decoration: underline;
}

section {
    border: 1px solid;
    padding: 0 1rem;
}