.content img {
    max-width: 100%;
    height: auto;
 }

 .content {
    width: 100%;
    margin: 0;
}

.content > p {
    margin: 0;
}

.content > h1,
.content > h2,
.content > h3,
.content > h4 {
    padding: .5em 0 .4em;
    text-align: center;
}

.content > h1.light,
.content > h2.light {
    background-color: #f9f9f9;
    color: #555;
}

.content > * {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: .8em;
}

.content > * ol {
    margin: 0 1.5em;
    position: relative;
}

.content > * p {
    margin-bottom: .5em;
}

.content .button a {
    color: #2685BB;
    font-weight: bold;
}

.content .button a .label {
    color: #777;
    font-weight: bold;
}

.content img {
	max-width: 100%;
	height: auto;
}

.content {
    width: auto;
    margin: 10px 10px 0 10px;
}

.content > *:last-child {
    border-bottom: none;
}

.content h1.light,
.content h2.light {
     border: 1px #dddddd;
     border-style: solid none none none;
}

.content > :first-child {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.content > :last-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content > h1,
.content > h2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
    background: -moz-linear-gradient(#fff, #e5e5e5);
    background: -o-linear-gradient(top, #fff, #e5e5e5);
    background: linear-gradient(#fff, #e5e5e5);
}

.content > h1.light,
.content > h2.light {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
    background: -moz-linear-gradient(#fff, #e5e5e5);
    background: -o-linear-gradient(top, #fff, #e5e5e5);
    background: linear-gradient(#fff, #e5e5e5);
}