.main-footer {
    display:block;
    font-size:.80em;
    height:28px;
    margin:25px 0 15px;
    overflow:visible;
    padding: 1em;
    position:relative;
    text-align:center;
    width:auto;
}

.main-footer,
.main-footer a,
.main-footer a:visited,
.main-footer a:hover {
    color:#fff;
}

.main-footer a,
.main-footer a:visited {
    text-decoration:none;
    border-bottom:1px solid #fff;
}

.main-footer a:hover {
    border-bottom: none;
}