/* Hide header banner...*/
.main-header {
    display:none;
}

/* ...unless we're on old Android (which we detect with Modernizr .touch.no-overflowscrolling--lame!)
      because old Android doesn't show the background branding */
.touch.no-overflowscrolling .main-header,
.header {
    display:block;
    @include background(linear-gradient(top, #414142, #57585a 58%, #58595b));
    border-bottom: 0px solid #fff;
    height: 36px;
    padding-left: 10px;
}

.touch.no-overflowscrolling .main-header img {
    border: none;
    float: none;
}

.logo {
    width: 53px;
    height: 36px;
    background-size: 100% 100%;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22185.887px%22%20height%3D%2291.266px%22%20viewBox%3D%220%200%20185.887%2091.266%22%20enable-background%3D%22new%200%200%20185.887%2091.266%22%20%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M185.509%2C39.63v-10.98h-44.187V66.58c-1.761-8.017-8.646-10.896-16.066-12.71l-15.369-3.778%20c-2.635-0.614-6.674-1.669-6.674-6.587c0-5.709%2C5.972-7.553%2C10.979-7.553c11.503%2C0%2C12.558%2C6.675%2C12.906%2C9.485h12.646%20c-0.088-7.729-5.271-20.375-24.591-20.375c-20.192%2C0-24.134%2C12.056-24.233%2C19.125c-1.893%2C6.61-6.692%2C10.13-13.367%2C10.13%20c-10.982%2C0-15.391-10.03-15.391-21.188c0-17.553%2C9.165-21.702%2C15.391-21.702c10.723%2C0%2C12.712%2C7.005%2C13.749%2C10.724h12.973%20c-0.69-9.167-8.217-21.964-26.808-21.964c-13.135%2C0-23.931%2C7.468-27.376%2C22.15V1.466H36.755v41.232%20c0%2C7.581-3.661%2C11.938-12.64%2C11.938c-6.101%2C0-11.157-3.834-11.157-12.55V1.464H-0.379v41.493c0.174%2C6.276%2C1.482%2C11.33%2C4.882%2C15.167%20c5.579%2C6.188%2C14.123%2C7.582%2C19.875%2C7.582c15.312%2C0%2C25.123-6.653%2C25.687-22.105c3.325%2C14.475%2C13.71%2C21.953%2C27.23%2C21.953%20c8.715%2C0%2C14.988-2.942%2C19.279-7.9c3.779%2C2.88%2C9.021%2C4.104%2C14.365%2C5.348l6.764%2C1.579c6.674%2C1.581%2C11.416%2C2.898%2C11.416%2C7.817%20c0%2C6.675-6.938%2C8.165-13.172%2C8.165c-11.504%2C0-13.264-6.674-13.352-10.188H89.95c0%2C7.815%2C3.951%2C21.076%2C26.963%2C21.076%20c5.039%2C0%2C21.51-1.389%2C24.408-15.97v15.922h12.971V64.62h27.326V53.637h-27.326V39.63H185.509z%22%2F%3E%3C%2Fsvg%3E');
    display: inline-block;
}

.no-svg .logo {
    background-image: url('../img/ucsf-logo.png');
}

.touch.no-overflowscrolling .main-header span,
.header span {
    bottom: 12px;
    color: #fff;
    float: none;
    font-family: "Arial Regular", Arial, Helvetica, Verdana, sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-left: 4px;
    padding: 0;
    position:relative;
}

.touch.no-overflowscrolling .main-header span a,
.header span a {
    color: #fff;
}

.separator {
    padding: 0 8px 0 5px;
}