.nav-button {
    bottom: 0;
    margin-left: 10px;
    padding: 1em;
    position: fixed;
    left: 0;
    z-index: 9999;
	-webkit-border-radius: 0.5em;
  	-moz-border-radius: 0.5em;
  	border-radius: 0.5em;
    background-color: #fff;
}

.nav-button:active {
	background-color: #666;
}