html {
    min-height: 100%;
}

body {
    border: 0;
    height: 100%;   /* needed for Firefox */
    margin: 20px 0 0 0; /* needed for iOS 7 PhoneGap app */
}

div,
form,
ol,
p,
ul {
    display: block;
    padding: 0;
    margin: 0;
}

.no-touch body,
.touch.overflowscrolling body {
    overflow:auto;
}

.touch.overflowscrolling {
    -webkit-overflow-scrolling:touch;
}