.timetable ol {
    list-style-type: none;
    text-align: left;
}

.timetable {
    display: table;
    margin: 0.5em auto;
    padding: 0.5em;
    text-align: center;
    border: 1px solid #ccc;
}

.timetable table {
	text-align: left;
}

.timetable td {
	padding-right: 1em;
}