.transition-in-setup {
    -webkit-transition: 0.25s linear all; /* Safari/Chrome */
    -moz-transition: 0.25s linear all; /* Firefox */
    -ms-transition: 0.25s linear all; /* IE10 */
    -o-transition: 0.25s linear all; /* Opera */
    transition: 0.25s linear all; /* Future Browsers */
}

.transition-in-setup {
    opacity: 0;
}

.transition-in-setup.transition-in-start {
    opacity: 1;
}

/* hide cloaked content if Angular hasn't provided content yet */
[data-ng-cloak] {
    display:none !important;
}
