.ucsf-directory-detail {
    background: #fff;
}

.menu .ucsf-directory-detail {
    margin: 1em;
    border: 2px solid #777;
}

.ucsf-directory-detail li a {
    background: none;
}

.info {
    font-style: italic;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.menu li.ucsf-directory-noclick{
    border: none;
    text-align: left;
    padding: 0.25em;
}

.no-touch .menu li.ucsf-directory-noclick:hover, .menu .ucsf-directory-noclick a:active {
    background: #fff;
}