<ol class="front">
    <li>
        <a href="#/shuttle"><img class="dashboard_icon" src="img/homescreen/shut-72.png" alt=""><br>Shuttle</a>
    </li><li>
        <a href="#/directory"><img class="dashboard_icon" src="img/homescreen/dir-72.png" alt=""><br>Directory</a>
    </li><li>
        <a href="#/news"><img class="dashboard_icon" src="img/homescreen/news-72.png" alt=""><br>News</a>
    </li><li>
        <a href="#/maps"><img class="dashboard_icon" src="img/homescreen/map-72.png" alt=""><br>Maps</a>
    </li><li>
        <a href="#/library"><img class="dashboard_icon" src="img/homescreen/lib-72.png" alt=""><br>Library</a>
    </li><li>
        <a href="#/fitness"><img class="dashboard_icon" src="img/homescreen/fit-72.png" alt=""><br>Fitness</a>
    </li><li>
        <a href="#/events"><img class="dashboard_icon" src="img/homescreen/cal-72.png" alt=""><br>Events</a>
    </li><li>
        <a href="#/social"><img class="dashboard_icon" src="img/homescreen/soc-72.png" alt=""><br>Social</a>
    </li><li>
        <a href="#/emergency"><img class="dashboard_icon" src="img/homescreen/emerg-72.png" alt=""><br>Emergency</a>
    </li>
</ol>