a.button, div.button {
    width: auto;
    margin: 0;
}

a.button, div.button a{
    border-bottom: 1px solid #aaa;
    padding: .5em 0 .4em 0;
    background-color: #666;
    color: #fff;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.no-touch a.button:hover,
a.button:focus,
a.button:active,
.no-touch div.button a:hover,
div.button a:focus,
div.button a:active{
    background-color: #ffb300;
    color: #494D69;
}

a.button,
div.button a:first-child {
    @include border-left-radius()
}

a.button,
div.button a:last-child {
    @include border-right-radius()
}

.no-touch a.button:hover,
a.button:focus,
a.button:active,
.no-touch div.button a:hover,
div.button a:focus,
div.button a:active,
.no-touch a.button.light:hover,
a.button.light:focus,
a.button.light:active,
.no-touch div.button a.light:hover,
div.button a.light:focus,
div.button a.light:active{
    background: -webkit-gradient(linear, left top, left bottom, from(#ffc847), to(#ffb300));
    background: -moz-linear-gradient(#ffc847, #ffb300);
    background: -o-linear-gradient(top, #ffc847, #ffb300);
    background: linear-gradient(#ffc847, #ffb300);
}