<div data-ng-show="loading"><progress><span class="spinner"></span></progress></div>
<div class="content" data-ng-show="loaded">
    <h1>Group Fitness and Pools</h1>
    <div>
        <input id="ucsf-fitness-search" type="search" data-ng-model="query" placeholder="Search">
    </div>
    <div>
        <p data-ng-repeat="class in classes">
            <strong>Class:</strong> {{ class.name }}<br>
            <strong>Date:</strong> {{ class.date }}<br>
            <strong>Time:</strong> {{class.startTime}} - {{class.endTime}}<br>
            <span data-ng-show="class.instructorLastName"><strong>Instructor:</strong> {{class.instructorFirstName}} {{class.instructorLastName}}<br></span>
            <strong>Location:</strong> {{class.location}}
        </p>
    </div>
</div>
<div class="content" data-ng-show="! classes.length && ! loading"><p>Fitness schedule data could not be loaded.</p></div>
