<div data-ng-show="loading"><progress><span class="spinner"></span></progress></div>
<div class="content" data-ng-show="loaded">
    <h1>Group Fitness and Pools</h1>
    <div>
        <p data-ng-repeat="class in classes">
            <strong>Class:</strong> {{ class.name }}<br>
            <strong>Date:</strong> {{ class.date }}<br>
            <strong>Time:</strong> {{class.startTime}} - {{class.endTime}}<br>
            <span data-ng-show="class.instructor"><strong>Instructor:</strong> {{class.instructor}}</span>
            <strong>Location:</strong> {{class.location}} ({{class.campus}})
        </p>
    </div>
</div>
<div class="content" data-ng-show="! class.classes.length || loadError"><p>Fitness schedule data could not be loaded.</p></div>
