@media all and (max-device-width: 320px) {
  .dashboard_icon {
    width: 57px;
    height: 57px; }
  .front li a {
    font-size: 80%; } }

.front {
  border: 0;
  margin: 1em 0; }

.front li {
  display: inline-block;
  height: 108px;
  width: 25%;
  list-style: none;
  padding: 0;
  border: 0;
  margin: 0;
  text-align: center; }

.front li a {
  padding: 1em 0 0 0;
  background: 0;
  color: white;
  font-weight: normal;
  text-align: center; }
