@media all and (max-device-width: 320px) {
  /* line 2, ../scss/mainPage.scss */
  .dashboard_icon {
    width: 57px;
    height: 57px;
  }

  /* line 7, ../scss/mainPage.scss */
  .front li a {
    font-size: 80%;
  }
}
/* line 12, ../scss/mainPage.scss */
.front {
  border: 0;
  margin: 1em 0;
}

/* line 17, ../scss/mainPage.scss */
.front li {
  display: inline-block;
  height: 108px;
  width: 25%;
  list-style: none;
  padding: 0;
  border: 0;
  margin: 0;
  text-align: center;
}

/* line 28, ../scss/mainPage.scss */
.front li a {
  padding: 1em 0 0 0;
  background: 0;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

/* AngularJS ngAnimate stuff */
/* line 37, ../scss/mainPage.scss */
.transition-in-setup {
  position: absolute;
  left: -100%;
  width: 100%;
}

/* line 43, ../scss/mainPage.scss */
.transition-in-setup.transition-in-start {
  left: 0;
}

/* line 47, ../scss/mainPage.scss */
.transition-out-setup {
  position: absolute;
  left: 0;
  width: 100%;
}

/* line 53, ../scss/mainPage.scss */
transition-out-setup.transition-out-start {
  left: -100%;
}

/* line 57, ../scss/mainPage.scss */
.transition-in-setup, .transition-out-setup {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
