/*********
* SHUTTLE
**********/
.shuttle-color {
  border-radius: 5em;
  width: 2.5em;
  display: inline-block;
  height: 0.75em;
  margin-right: 0.5em; }

.blue {
  background-color: #007dc3; }

.gold {
  background-color: #fdb813; }

.grey {
  background-color: #959ca1; }

.tan {
  background-color: #d4a67c; }

.black {
  background-color: #231f20; }

.purple {
  background-color: #7977b7; }

.pink {
  background-color: #d063a6; }

.va {
  background-color: #231f20;
  background-image: linear-gradient(0, transparent 50%, #ffffff 50%);
  background-image: -webkit-linear-gradient(0, transparent 50%, #ffffff 50%);
  background-image: -ms-linear-gradient(0, transparent 50%, #ffffff 50%);
  background-image: -moz-linear-gradient(0, transparent 50%, #ffffff 50%);
  background-image: -o-linear-gradient(0, transparent 50%, #ffffff 50%);
  background-size: 0.4em; }

.bronze {
  background-color: #ad9600; }

.yellow {
  background-color: #ffde00; }

.red {
  background-color: #ed174f; }

.lime {
  background-color: #8dc63f; }

.green {
  background-color: #008752; }

.reverse_trip {
  font-size: x-small;
  width: 3em;
  margin: 1em 50% 0 50%; }
