/*********
* SHUTTLE
**********/
/* line 5, ../scss/shuttle.scss */
.shuttle-color {
  border-radius: 5em;
  width: 2.5em;
  display: inline-block;
  height: 0.75em;
  margin-right: 0.5em;
}

/* line 12, ../scss/shuttle.scss */
.blue {
  background-color: #007dc3;
}

/* line 15, ../scss/shuttle.scss */
.gold {
  background-color: #fdb813;
}

/* line 18, ../scss/shuttle.scss */
.grey {
  background-color: #959ca1;
}

/* line 21, ../scss/shuttle.scss */
.tan {
  background-color: #d4a67c;
}

/* line 24, ../scss/shuttle.scss */
.black {
  background-color: #231f20;
}

/* line 27, ../scss/shuttle.scss */
.purple {
  background-color: #7977b7;
}

/* line 30, ../scss/shuttle.scss */
.pink {
  background-color: #d063a6;
}

/* line 33, ../scss/shuttle.scss */
.va {
  background-color: #231f20;
  background-image: linear-gradient(0, transparent 50%, white 50%);
  background-image: -webkit-linear-gradient(0, transparent 50%, white 50%);
  background-image: -ms-linear-gradient(0, transparent 50%, white 50%);
  background-image: -moz-linear-gradient(0, transparent 50%, white 50%);
  background-image: -o-linear-gradient(0, transparent 50%, white 50%);
  background-size: .4em;
}

/* line 42, ../scss/shuttle.scss */
.bronze {
  background-color: #ad9600;
}

/* line 45, ../scss/shuttle.scss */
.yellow {
  background-color: #ffde00;
}

/* line 48, ../scss/shuttle.scss */
.red {
  background-color: #ed174f;
}

/* line 51, ../scss/shuttle.scss */
.lime {
  background-color: #8dc63f;
}

/* line 54, ../scss/shuttle.scss */
.green {
  background-color: #008752;
}

/* line 58, ../scss/shuttle.scss */
.reverse_trip {
  font-size: x-small;
  width: 3em;
  margin: 1em 50% 0 50%;
}
