<section>
<div data-ng-show="stopsLoading || planLoading"><progress><span class="spinner"></span></progress></div>
<div data-ng-show="planLoaded" class="content">
    <h2>Suggested Routes</h2>
    <p data-ng-show="!itineraries.length">No options found.</p>
    <div data-ng-repeat="itinerary in itineraries">
        <h3>Option {{itinerary.index}}</h3>
        <h4>{{itinerary.startTimeFormatted}} - {{itinerary.endTimeFormatted}} ({{itinerary.durationFormatted}} mins)</h4>
        <ol data-ng-repeat="leg in itinerary.legs">
            <li>
                <ul data-ng-show="leg.bus">
                    <li><strong>From:</strong> {{leg.bus.fromName}}</li>
                    <li><strong>To:</strong> {{leg.bus.toName}}</li>
                    <li><strong>Shuttle:</strong> {{leg.bus.route}} <div class="shuttle-color {{leg.bus.routeId}}"></div></li>
                    <li><strong>Depart:</strong> {{leg.bus.startTime}}</li>
                    <li><strong>Arrive:</strong> {{leg.bus.endTime}}</li>
                </ul>
                <ul data-ng-show="leg.walk">
                    <li><strong>Walk to:</strong> {{leg.walk.toName}}</li>
                </ul>
            </li>
        </ol>
    </div>
</div>
<div class="content" data-ng-show="stopsLoadError"><p>Trip planner could not be loaded. Please try again later.</p></div>
<form data-ng-show="stopsLoaded" data-ng-submit="plan()">
    <h2>Trip Planner</h2>
    <select data-ng-model="begin" data-ng-options="'From ' + stop.stopName for stop in stops" name="begin">
    </select>
    <button type="button" data-ng-click="tmp=begin;begin=end;end=tmp" class="reverse_trip">&uarr;&darr;</button>
    <select data-ng-model="end" data-ng-options="'To ' + stop.stopName for stop in stops" name="end">
    </select>
    <fieldset name="datetime">
        <legend>
            <select data-ng-model="when" class="compact" name="when">
                <option value="now">Leave now</option>
                <option value="depart">Depart at</option>
                <option value="arrive">Arrive by</option>
            </select>
        </legend>
        <select data-ng-disabled="when=='now'" data-ng-model="time" class="compact" name="time">
            <option value="6:00 AM">6:00 AM</option>
            <option value="6:15 AM">6:15 AM</option>
            <option value="6:30 AM">6:30 AM</option>
            <option value="6:45 AM">6:45 AM</option>
            <option value="7:00 AM">7:00 AM</option>
            <option value="7:15 AM">7:15 AM</option>
            <option value="7:30 AM">7:30 AM</option>
            <option value="7:45 AM">7:45 AM</option>
            <option value="8:00 AM">8:00 AM</option>
            <option value="8:15 AM">8:15 AM</option>
            <option value="8:30 AM">8:30 AM</option>
            <option value="8:45 AM">8:45 AM</option>
            <option value="9:00 AM">9:00 AM</option>
            <option value="9:15 AM">9:15 AM</option>
            <option value="9:30 AM">9:30 AM</option>
            <option value="9:45 AM">9:45 AM</option>
            <option value="10:00 AM">10:00 AM</option>
            <option value="10:15 AM">10:15 AM</option>
            <option value="10:30 AM">10:30 AM</option>
            <option value="10:45 AM">10:45 AM</option>
            <option value="11:00 AM">11:00 AM</option>
            <option value="11:15 AM">11:15 AM</option>
            <option value="11:30 AM">11:30 AM</option>
            <option value="11:45 AM">11:45 AM</option>
            <option value="12:00 PM">12:00 PM</option>
            <option value="12:15 PM">12:15 PM</option>
            <option value="12:30 PM">12:30 PM</option>
            <option value="12:45 PM">12:45 PM</option>
            <option value="1:00 PM">1:00 PM</option>
            <option value="1:15 PM">1:15 PM</option>
            <option value="1:30 PM">1:30 PM</option>
            <option value="1:45 PM">1:45 PM</option>
            <option value="2:00 PM">2:00 PM</option>
            <option value="2:15 PM">2:15 PM</option>
            <option value="2:30 PM">2:30 PM</option>
            <option value="2:45 PM">2:45 PM</option>
            <option value="3:00 PM">3:00 PM</option>
            <option value="3:15 PM">3:15 PM</option>
            <option value="3:30 PM">3:30 PM</option>
            <option value="3:45 PM">3:45 PM</option>
            <option value="4:00 PM">4:00 PM</option>
            <option value="4:15 PM">4:15 PM</option>
            <option value="4:30 PM">4:30 PM</option>
            <option value="4:45 PM">4:45 PM</option>
            <option value="5:00 PM">5:00 PM</option>
            <option value="5:15 PM">5:15 PM</option>
            <option value="5:30 PM">5:30 PM</option>
            <option value="5:45 PM">5:45 PM</option>
            <option value="6:00 PM">6:00 PM</option>
            <option value="6:15 PM">6:15 PM</option>
            <option value="6:30 PM">6:30 PM</option>
            <option value="6:45 PM">6:45 PM</option>
            <option value="7:00 PM">7:00 PM</option>
            <option value="7:15 PM">7:15 PM</option>
            <option value="7:30 PM">7:30 PM</option>
            <option value="7:45 PM">7:45 PM</option>
            <option value="8:00 PM">8:00 PM</option>
            <option value="8:15 PM">8:15 PM</option>
            <option value="8:30 PM">8:30 PM</option>
            <option value="8:45 PM">8:45 PM</option>
            <option value="9:00 PM">9:00 PM</option>
        </select>
        <select data-ng-model="date" data-ng-disabled="when=='now'" class="compact" name="date">
            <option value="0">Today</option>
            <option value="1">Tomorrow</option>
            <option value="2">In 2 days</option>
            <option value="3">In 3 days</option>
        </select>
    </fieldset>
    <input data-ng-disabled="isLoading" type="submit" name="route" value="Route Trip" />
</form>
</section>
