AddDefaultCharset UTF-8
AddType text/cache-manifest .appcache
AddOutputFilterByType DEFLATE application/javascript application/x-javascript text/css text/html text/plain text/xml

ExpiresActive On
ExpiresDefault "access plus 0 seconds"
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^public(.*)$ /ci/public$1 [L]
    RewriteCond %{REQUEST_URI} !/fitness/index.html
    RewriteCond %{REQUEST_URI} !/fitness/locations
    RewriteRule ^fitness/(.+)$ /ci/fitness/$1 [L]
    RewriteRule ^social/?$ /social.html [L]
    RewriteRule ^emergency/?$ /emergency.html [L]
    RewriteRule ^about/?$ /about.html [L]
    
    RewriteRule ^directory/query(.*)$ /directory/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^directory/detail/([^?].*)$ /directory/detail/?$1 [L,R]

    RewriteRule ^shuttle/route_trip(.*)$ /shuttle/planner/? [L,R]
    RewriteRule ^shuttle/list/color /shuttle/list/ [L,R]
    RewriteRule ^shuttle/schedule/[0-9]+$ /shuttle/list/ [L,R]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^shuttle/schedule/(.*) /shuttle/schedule/route/?$1 [L,R]
    RewriteRule ^shuttle/list/location/.+$ /shuttle/list/location/ [L,R]

    # They have a link at http://manuals.ucsfmedicalcenter.org/NursingDept/
    RewriteRule ^shuttle/options /shuttle/ [L,R]

    RewriteRule ^maps/locations.php$ /maps/locations/ [L,R]
    RewriteRule ^maps/campus.php$ /maps/ [L,R]
</IfModule>
