ul.ucsf-directory {
    margin:0; padding:0
}

ul.ucsf-directory li {
    padding:1em;
    margin:0;
    border: 1px #DDD;
    border-style: solid none none none;
}

ul.ucsf-directory li:first-child {
    border-style: none none none none;
}

.info {
    font-style: italic;
    text-align: center;
}