@import "compass/css3";

$default-border-radius: .5em;

body, html {
    border: 0;
}

html,
body,
address,
blockquote,
dd,
div,
dl,
dt,
fieldset,
form,
frame,
frameset,
ol,
p,
ul,
center,
dir,
hr,
menu,
pre {
    display: block;
    padding: 0;
    margin: 0;
}

pre {
    font-family: inherit;
}

h1,
h2 {
    display: block;
    padding: 0;
    margin: 0;
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
}

h3,
h4 {
    display: block;
    padding: 0;
    margin: 0;
    line-height: 1.2em;
    font-size: 1.1em;
    font-weight: bold; }

a {
    text-decoration: none;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.clear {
    width: 100%;
    clear: both;
    float: none;
    height: 1px;
}

.smallprint {
    font-weight: normal;
    font-size: 90%;
}

p a {
    border-bottom: none;
}

input {
    border: 1px solid #cccccc;
    padding: 4px;
}

header.main {
    display:none;
}

/* Don't hide banner on Android (which we detect with Modernizr .touch.not-overflowscrolling--lame!)
      because Android doesn't show the background branding (also lame!) */
html.touch.no-overflowscrolling header.main{
    display:block;
}

header img {
    border: none;
    float: left;
}

header span {
    float: left;
    padding: 8px 0 0 5px;
    font-weight: normal;
    font-size: 16px;
}

header span, header span a {
    color: #fff;
}

/**
 * Footer
 */

footer {
	font-size: 80%;
	padding: 1em;
	text-align: center;
}

footer a,
footer a:visited {
	text-decoration: none;
	border-bottom: 1px solid #666666;
}

footer a:hover {
	border-bottom: none;
}

/****************************************************************************
 * Page Elements
 */

 .content img, .menu img {
    max-width: 100%;
    height: auto;
 }

/**
 * Content
 */

.content {
    width: 100%;
    margin: 0;
}

.content > p {
    margin: 0;
}

.content > h1,
.content > h2,
.content > h3,
.content > h4 {
    padding: .5em 0 .4em;
    text-align: center;
}

.content > h1.light,
.content > h2.light {
    background-color: #f9f9f9;
    color: #555;
}

.content > * {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: .8em;
}

.content > * ol {
    margin: 0 1.5em;
    position: relative;
}

.content > * p {
    margin-bottom: .5em;
}

.content .button a {
    color: #2685BB;
    font-weight: bold;
}

.content .button a .label {
    color: #777;
    font-weight: bold;
}

/**
 * Menu
 */

.menu {
    font-size: 1.1em;
    font-weight: bold;
}

.menu > h1,
.menu > h2 {
    background: #efefef;
    color: #000;
    padding: .5em 0 .4em 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.menu li p {
    font-weight: normal;
}

.menu > h1.light,
.menu > h2.light {
    background-color: #f6f6f6;
    color: #555;
}

.menu p {
    color: #000;
    border-bottom: 1px solid #ddd;
    padding: .5em;
    font-weight: normal;
}

.menu ol {
    list-style-type: none;
}

.menu li {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.menu li a {
    display: block;
    background:url(/assets/img/ucsf-list-arrow.png) no-repeat 98%;
    padding: 1em;
    /**
    * This is needed to keep the rounded corners on the last child.
    * No, I don't really understand why.
    **/
    background-color: initial;
}

.menu li:hover {
    background-color: #eaf2fa;
}

.menu.detailed.center li a {
    padding: .9em 2em .8em 2em;
}

.menu li > p:first-child:last-child {
    padding: .9em; /* singular paragraph text within li */
}

.menu.detailed p {
    color: #555;
}

.menu.left li,
.menu.detailed li {
    text-align: left;
}

.menu.left li a {
    padding-left: .9em;
}

.menu.center li {
    text-align: center;
}

.menu.detailed li {
    font-size: 1em;
}

.menu.detailed li > a,
.menu.detailed li > p
{
    padding: .9em 2em .8em .9em;
}

.menu .button a {
    color: #2685BB;
}

/**
 * Button
 */

a.button, div.button {
    width: auto;
    margin: 0;
}

a.button, div.button a{
    border-bottom: 1px solid #aaa;
    padding: .5em 0 .4em 0;
    background-color: #666;
    color: #fff;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.no-touch a.button:hover,
a.button:focus,
a.button:active,
.no-touch div.button a:hover,
div.button a:focus,
div.button a:active{
    background-color: #ffb300;
    color: #494D69;
}

/**
 * Forms
 */
form {
    background-color: #fff;
    padding-bottom: 1em;
    padding-right: 20px;
}

/*
 * Forms Heading
 */
form > h1,
form > h2,
form > h3,
form > h4 {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

form > h1,
form > h2 {
    background: #efefef;
    color: #000;
    padding: 0.5em 10px;
}

form > h1.light,
form > h2.light {
    background-color: #f6f6f6;
    color: #555;
}

form > h3,
form > h4 {
    padding: 10px;
    width: 100%;
}

form > fieldset {
    border: 0;
}

form > a.button,
form > button,
form > input,
form > label:not(.option),
form > select,
form > textarea {
    margin-left: 10px;
}

/*
 * Forms Basic Elements
 */
form > label,
form > select {
    margin-top: 1em;
}

form > label + select {
    margin-top: 0;
} 

form input,
form select,
form textarea {
    border: 1px solid #CCC;
    font-size: 1em;
}

form input,
form textarea {
    padding: 4px 0;
}

form textarea {
    font: 100%/1.25 Arial, Helvetica, sans-serif;
    height: 4em;
}

form p {
    margin-bottom: .5em;
}

/*
 * Forms Buttons
 */
form a.button {
    text-align: center;
}

form input[type="submit"],
form input[type="reset"],
form button,
form a.button {
    background-color: #e4e7ee;
    border: 0;
    color: #000;
    cursor: pointer;
    font: 100%/1.25 Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding: .5em 0;
    height: auto;
}

form input[type="submit"],
form input[type="reset"],
form button {
    padding: .5em 1em;
}

form input[type="submit"][disabled="disabled"],
form input[type="reset"][disabled="disabled"],
form button[disabled="disabled"],
form a.button.disabled {
    color: #888;
    cursor: default;
}

form input[type="submit"][disabled="disabled"]:hover,
form input[type="reset"][disabled="disabled"]:hover,
form button[disabled="disabled"]:hover,
form a.button:hover.disabled,
form input[type="submit"][disabled="disabled"]:focus,
form input[type="reset"][disabled="disabled"]:focus,
form button[disabled="disabled"]:focus,
form a.button:focus.disabled {
    background-color: #e4e7ee;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover,
form button:hover,
form a.button:hover,
form input[type="submit"]:focus,
form input[type="reset"]:focus,
form button:focus,
form a.button:focus {
    background-color: #cfd5e1;
}

form input[type="submit"].primary,
form input[type="reset"].primary,
form button.primary,
form a.button.primary,
form input[type="submit"][disabled="disabled"].primary:hover,
form input[type="reset"][disabled="disabled"].primary:hover,
form button.primary[disabled="disabled"]:hover,
form a.button.primary:hover.disabled,
form input[type="submit"][disabled="disabled"].primary:focus,
form input[type="reset"][disabled="disabled"].primary:focus,
form button[disabled="disabled"].primary:focus,
form a.button.primary:focus.disabled {
    background-color: #fbaf3f;
}

form input[type="submit"].primary:hover,
form input[type="reset"].primary:hover,
form button.primary:hover,
form a.button.primary:hover,
form input[type="submit"].primary:focus,
form input[type="reset"].primary:focus,
form button.primary:focus,
form a.button.primary:focus {
    background-color: #ffb300;
}

/* full width form - default */
form div,
form h1,
form h2,
form p,
form a.button,
form fieldset,
form input,
form label,
form select,
form textarea {
    display: block;
    width: 100%;
}

.option input {
    display:inline;
        width:auto;
}

/* short width form */
form.short input,
form.short > label {
    display: inline;
    width: auto;
}

form .last {
    border-bottom: none;
}

form > div,
form > fieldset,
form > p {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

/* form option alignment */
form .option {
    padding: 0 0 0 10px;
    margin-bottom: 0;
    border-bottom: none;
}

/* required label */
span.required:after {
    content: "*";
    color: #536895;
    padding-left:.2em;
}


/* ------------------------------------------------------
 * multi level form
*/
.content form {
    padding-left: 0;
}

.content form {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
}

.content > div > form > div,
.content > div > form > fieldset,
.content > div > form > p {
    border-bottom: none;
    padding: 0;
}

.content > div > form > fieldset{
    padding-bottom: .5em;
}

.content > div > form{
    padding-right: 0;
}

.content > div > form > a.button,
.content > div > form > button,
.content > div > form > input,
.content > div > form > label,
.content > div > form > select,
.content > div > form > textarea{
    margin-left: 0;
}

/* ucsf-default-basic
 *
 *
 *
 */
header {
    @include background(linear-gradient(top, #414142, #57585a 58%, #58595b));
    height: 36px;
}

body header span {
	float: none;
	margin-left: 4px;
	position:relative;
	bottom: 12px;
}

header {
	padding-left: 10px;
}

header span {
	font-size: 15px;
	font-family: "Arial Regular", Arial, Helvetica, Verdana, sans-serif;
	padding: 0;
}

header img {
	float:none;
}

.separator {
	padding: 0 8px 0 5px;
}

h4.light {
	color: #555;
}

span.highlight_time {
	font-weight: bold;
}

.smallprint.light {
	color: #999999;
}

ul {
    margin:.5em 0 1em 0;
}

ul.ucsf-directory {
    margin:0; padding:0
}

ul li {
	font-weight: normal;
	list-style-type: none;
}

ul.ucsf-directory li {
    padding:1em;
    margin:0;
    border: 1px #DDD;
    border-style: solid none none none;
}

ul.ucsf-directory li:first-child {
    border-style: none none none none;
}

ul.bulleted li {
	list-style-type: disc;
        margin-left: 2em;
}

ul.bulleted li a {
	padding: 0;
	display: inline;
}

a[rel~=external]:after, .detailed li a span.external:after {
	content: "\a0 " url(/assets/img/external-link.png);
}

/* Allow suppression of external link indicator via class "no-ext-ind".
   This is useful for .detailed where a span.external inside an
   a[rel=external] can show where the indicator should end up.  This keeps the
   indicator from floating off to the right away from the relevant text. This is
   desirable, rather than just not using rel=external, because rel=external
   will determine how the link is handled in the native client and possibly in
   screen readers.
*/
a[rel=external].no-ext-ind:after {
    content: "";
}

a {
	color:#38939b;
}

.content img {
	max-width: 100%;
	height: auto;
}

#main_menu li {
    background:inherit;
}

.springboard-icon {
    height: 60px;
}

@media all and (min-width: 321px) {
    .springboard-icon {
        height: 75px;
    }
}

/****************************************************************************
 * Page Elements
 */

/**
 * Content
 */

.content {
    width: auto;
    margin: 10px 10px 0 10px;
}

.content > *:last-child {
    border-bottom: none;
}

.content h1.light,
.content h2.light {
     border: 1px #dddddd;
     border-style: solid none none none;
}

/**
 * Menu
 */

.menu {
    margin: 10px 10px 0 10px;
    width: auto;
}

.menu a:last-child li,
.menu > *:last-child {
    border-bottom: none;
}

/* The rel=external stuff is not solely for menus, but primarily.
   Use span.external:after around a link with class no-ext-ind to keep indicator
      from being styled like the link.  This is useful if links are underlined,
      for example, and also in .menu.detailed (see comment for no-ext-ind).
*/
a[rel~=external]:after, span.external:after {
    content: "\a0 " url(/assets/img/external-link.png);
}

/* Allow suppression of external link indicator via class "no-ext-ind".
   This is useful for .menu.detailed where a span.external inside an
   a[rel=external] can show where the indicator should end up.  This keeps the
   indicator from floating off to the right away from the relevant text. This is
   desirable, rather than just not using rel=external, because rel=external
   will determine how the link is handled in the native client and possibly in
   screen readers.
*/
a[rel=external].no-ext-ind:after {
    content: "";
}

/**
 * Forms
 */

form {
    margin: 10px 10px 0 10px;
}

.content form {
    margin: 0;
}

/****************************************************************************
 * Special Styles
 */

header {
    border-bottom: 0px solid #fff;
}


/********************************************************
 * MENUS/LISTS
 *******************************************************/

body.front .menu {
    border:0;
}

.content ol li{
    margin: 0 0 0 26px;
}

.menu {background: #fff}
.menu.front {background:0}

.menu.front li{display:inline-block;height:108px;width:25%;list-style:none;padding:0;border:0;margin:0}
.menu.front li a{padding: 1em 0 0 0;background:0;color:#fff;font-size:75%;font-weight:normal;text-align:center}

@media all and (max-device-width: 320px) {
    .dashboard_icon {
        width: 57px;
        height: 57px;
    }
}

/**
 * General Styles
 */

.clear {
    clear: both;
    width: 100%;
    height: 1px;
}

/**
 * Border radius on everything
 */
form,
.content,
.menu, { 
    @include border-radius() 
}

form > :first-child,
.content > :first-child,
.menu > ol:first-child > li:first-child,
.menu > :first-child,
.menu > :first-child:last-child li:first-child a:hover,
.menu > :first-child:last-child li:first-child a:focus,
.menu > :first-child:last-child li:first-child a:active,
.menu > :first-child li:first-child a:hover,
.menu > :first-child li:first-child a:focus,
.menu > :first-child li:first-child a:active,
.menu > h1 {
    @include border-top-radius()
}

form > :last-child,
.content > :last-child,
.menu > :first-child:last-child,
.menu ol > :last-child
{
    @include border-bottom-radius()
}

/**
 * Content
 */

.content > h1,
.content > h2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
    background: -moz-linear-gradient(#fff, #e5e5e5);
    background: -o-linear-gradient(top, #fff, #e5e5e5);
    background: linear-gradient(#fff, #e5e5e5);
}

.content > h1.light,
.content > h2.light {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
    background: -moz-linear-gradient(#fff, #e5e5e5);
    background: -o-linear-gradient(top, #fff, #e5e5e5);
    background: linear-gradient(#fff, #e5e5e5);
}

/**
 * Menu
 */

.menu > h1,
.menu > h2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
    background: -moz-linear-gradient(#fff, #e5e5e5);
    background: -o-linear-gradient(top, #fff, #e5e5e5);
    background: linear-gradient(#fff, #e5e5e5);
}

.menu > h1.light,
.menu > h2.light {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
    background: -moz-linear-gradient(#fff, #e5e5e5);
    background: -o-linear-gradient(top, #fff, #e5e5e5);
    background: linear-gradient(#fff, #e5e5e5);
}

/**
 * Button
 */

a.button,
div.button a:first-child {
    @include border-left-radius()
}

a.button,
div.button a:last-child {
    @include border-right-radius()
}

.no-touch a.button:hover,
a.button:focus,
a.button:active,
.no-touch div.button a:hover,
div.button a:focus,
div.button a:active,
.no-touch a.button.light:hover,
a.button.light:focus,
a.button.light:active,
.no-touch div.button a.light:hover,
div.button a.light:focus,
div.button a.light:active{
    background: -webkit-gradient(linear, left top, left bottom, from(#ffc847), to(#ffb300));
    background: -moz-linear-gradient(#ffc847, #ffb300);
    background: -o-linear-gradient(top, #ffc847, #ffb300);
    background: linear-gradient(#ffc847, #ffb300);
}

/**
 * Forms
 */

.content form {
    @include border-radius(0)
}

form input,
form textarea,
form select {
    box-shadow: inset 0 0 3px #bbb;
    padding: 4px;
}

select {
    background: url(/assets/img/select-options-bg.png) center right no-repeat;
    -webkit-appearance: none;	  	
}

/* making control equal width */
form input,
form textarea,
form select {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* button */
form input[type="submit"],
form input[type="reset"],
form button,
form a.button,
form input[type="submit"]:hover:disabled,
form input[type="reset"]:hover:disabled,
form button:hover:disabled,
form a.button:hover.disabled,
form input[type="submit"]:focus:disabled,
form input[type="reset"]:focus:disabled,
form button:focus:disabled,
form a.button:focus.disabled {
    background: -moz-linear-gradient(#e4e7ee, #cfd5e1);
    background: -o-linear-gradient(top, #e4e7ee, #cfd5e1);
    background: -webkit-gradient(linear, left top, left bottom, from(#e4e7ee), to(#cfd5e1), color-stop(0.8, #cfd5e1));
    background: linear-gradient(#e4e7ee, #cfd5e1);
    @include border-radius();
    box-shadow: 0 2px 2px #999;
    text-shadow: 0 1px 1px #fff;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover,
form button:hover,
form a.button:hover,
form input[type="submit"]:focus,
form input[type="reset"]:focus,
form button:focus,
form a.button:focus {
    background: -moz-linear-gradient(#cfd5e1, #bcc5d5);
    background: -o-linear-gradient(top, #cfd5e1, #bcc5d5);
    background: -webkit-gradient(linear, left top, left bottom, from(#cfd5e1), to(#bcc5d5), color-stop(0.8, #bcc5d5));
    background: linear-gradient(#cfd5e1, #bcc5d5);
}

form input[type="submit"].primary,
form input[type="reset"].primary,
form button.primary,
form a.button.primary,
form input[type="submit"].primary:hover:disabled,
form input[type="reset"].primary:hover:disabled,
form button.primary:hover:disabled,
form a.button.primary:hover.disabled,
form input[type="submit"].primary:focus:disabled,
form input[type="reset"].primary:focus:disabled,
form button.primary:focus:disabled,
form a.button.primary:focus.disabled {
    background: -moz-linear-gradient(#fcbe60, #faa422);
    background: -o-linear-gradient(top, #fcbe60, #faa422);
    background: -webkit-gradient(linear, left top, left bottom, from(#fcbe60), to(#faa422), color-stop(0.8, #faa422));
    background: linear-gradient(#fcbe60, #faa422);
}

form input[type="submit"].primary:hover,
form input[type="reset"].primary:hover,
form button.primary:hover,
form a.button.primary:hover,
form input[type="submit"].primary:focus,
form input[type="reset"].primary:focus,
form button.primary:focus,
form a.button.primary:focus {
    background: -moz-linear-gradient(#faa422, #db8504);
    background: -o-linear-gradient(top, #faa422, #db8504);
    background: -webkit-gradient(linear, left top, left bottom, from(#faa422), to(#db8504), color-stop(0.8, #db8504));
    background: linear-gradient(#faa422, #db8504);
}

body,html {
    height:100%;
}

html.no-touch,
html.no-touch body,
html.touch.overflowscrolling,
html.touch.overflowscrolling body{
    overflow:auto;
}

html.touch.overflowscrolling {
    -webkit-overflow-scrolling:touch;
}

body {
    font:100%/1.25 Arial,Helvetica,sans-serif;
    font-size:.93em;
    font-family:Helvetica,Verdana,Arial,sans-serif;
    line-height:normal;
}

html {
    width:100%;
    position:relative;
    background: rgba(98,172,180,1); /*Old browsers*/
    @include background(
        url(/assets/img/watermark.png), 
        url(/assets/img/background-decor.png),
        radial-gradient(center, ellipse cover, rgba(141,201,207,1) 0%, rgba(98,172,180,1) 100%));
    background-repeat:no-repeat, no-repeat, no-repeat;
    background-position:left top, right bottom, left top;
    background-size:auto 100%, 100% 70%, 100% 100%;
}

#main_menu {
    margin:0
}

footer {
    font-size:.80em;
    text-align:center;
    position:relative;
    width:auto;
    margin:25px 0 15px;
    overflow:visible;
    height:28px;
    display:block;
}


footer,footer a,footer a:visited,footer a:hover {
    color:#fff;
}

footer a,footer a:visited {

    text-decoration:none;
    border-bottom:1px solid #fff;
}

.info {
    font-style: italic;
    text-align: center;
}

/********************************************************
 * Lightning Touch JS library will erroneously track hovers so
 * let's just turn them off
 *******************************************************/
.menu li:hover {
    background-color: #fff;
}


/********************************************************
 * TWO-COLUMN LIST STYLE
 *******************************************************/
ul.two-col-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

ul.two-col-list li {
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    overflow: hidden;
}

/********************************************************
 * LIBRARY FLOORPLAN LEGEND STYLES
 *******************************************************/
.ucsf-library-floorplan-legend {
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 25px;
}
.ucsf-library-floorplan-legend-computer {
    background-image: url(/assets/img/ucsf-library-floorplan-legend-computer.gif);
}

.ucsf-library-floorplan-legend-elevator {
    background-image: url(/assets/img/ucsf-library-floorplan-legend-elevator.gif);
}

.ucsf-library-floorplan-legend-photocopy {
    background-image: url(/assets/img/ucsf-library-floorplan-legend-photocopy.gif);
}

.ucsf-library-floorplan-legend-reshelving {
    background-image: url(/assets/img/ucsf-library-floorplan-legend-reshelving.gif);
}

.ucsf-library-floorplan-legend-restroom {
    background-image: url(/assets/img/ucsf-library-floorplan-legend-restroom.gif);
}

.ucsf-library-floorplan-legend-stairs {
    background-image: url(/assets/img/ucsf-library-floorplan-legend-stairs.gif);
}

/*********
* SHUTTLE
**********/

.shuttle-color {
    border-radius: 5em;
    width: 2.5em;
    display: inline-block;
    height: 0.75em;
    margin-right: 0.5em;
}
.blue {
    background-color: rgb(0,125,195);
}
.gold {
    background-color: rgb(253,184,19);
}
.grey {
    background-color: rgb(149,156,161);
}
.tan {
    background-color: rgb(212,166,124);
}
.black {
    background-color: rgb(35,31,32);
}
.purple {
    background-color: rgb(121,119,183);
}
.pink {
    background-color: rgb(208,99,166);
}
.va {
    background-color: rgb(35,31,32);
    background-image: linear-gradient(0, transparent 50%, rgba(255,255,255,1) 50%);
    background-image: -webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,1) 50%);
    background-image: -ms-linear-gradient(0, transparent 50%, rgba(255,255,255,1) 50%);
    background-image: -moz-linear-gradient(0, transparent 50%, rgba(255,255,255,1) 50%);
    background-image: -o-linear-gradient(0, transparent 50%, rgba(255,255,255,1) 50%);
    background-size: .4em;
}
.bronze {
    background-color: rgb(173,150,0);
}
.yellow {
    background-color: rgb(255,222,0);
}
.red {
    background-color: rgb(237,23,79);
}
.lime {
    background-color: rgb(141,198,63);
}
.green {
    background-color: rgb(0,135,82);
}

.reverse_trip {
    font-size: x-small;
    width: 3em;
    margin: 1em 50% 0 50%;
}

/********
* Maps 
********/

#map_canvas { position: absolute; top: 35px; right: 0; bottom: 0; left: 0; z-index: 1; overflow: hidden; }
