<div class="content">
<h1 class="content-first">Hours &amp; Locations</h1>
<h1 class="light">Regular Hours</h1>
<div>
<p>The Millberry and Bakar Fitness and Recreation Centers have the same hours:</p>
<div>
<ul>
<li>Mon - Fri: 5:30 am - 10:00 pm</li>
<li>Sat - Sun: 7:30 am - 8:00 pm</li>
</ul>
</div>
<p>For Holiday and Member Services Hours:<br/>
<a rel="external" href="http://campuslifeservices.ucsf.edu/fitnessrecreation/article/248">Parnassus</a><br/>
<a rel="external" href="http://campuslifeservices.ucsf.edu/fitnessrecreation/article/249">Mission Bay</a>
</p>
</div>
<h1 class="light">Parnassus</h1>
<p>
Millberry Fitness and Recreation Center<br />
500 Parnassus Avenue<br />
San Francisco California 94143<br />
Phone: <a href="tel:(415) 476-1115">(415) 476-1115</a><br />
Fax: <a href="tel:(415) 502-5887">(415) 502-5887</a><br/>
<a href="maps/map/Millberry%20Union">Map</a>
</p>
<h1 class="light">Mission Bay</h1>
<p>
Bakar Fitness and Recreation Center<br />
1675 Owens Street<br />
San Francisco California 94158<br />
Phone: <a href="tel:(415) 514-4545">(415) 514-4545</a><br />
Fax: <a href="tel:(415) 514-4820">(415) 514-4820</a><br/>
<a href="maps/map/Rutter%20Center">Map</a>
</p>
</div>